<div class="pt-[120px]">
  <div class="flex justify-center items-center w-full h-[400px] relative overflow-hidden">
    <img src="https://metropolitanhost.com/themes/themeforest/html/trickly/assets/img/subheader.jpg" alt="" class="absolute w-full h-full top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] object-cover z-[1]">
    <div class="absolute top-0 left-0 w-full h-full z-[2] bg-black/60">   
    </div>
    <div class="relative z-[3]">
      <h1 class="text-white">Recipe Details</h1>
    </div>
  </div>
  <div class="mx-auto container flex justify-between gap-8 flex-wrap lg:flex-nowrap py-16 px-4 xl:px-0">
    <div class="w-full lg:w-8/12">
      <div class="flex justify-between items-center gap-4 mb-10">
        <h2>
          <%= @recipe.title %>
        </h2>
        <div>
          <%= link_to edit_recipe_path(@recipe), class: "text-white block text-center bg-primary-500 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-500 focus:outline-none dark:focus:ring-primary-800 w-32" do %>
            Edit Recipe
          <% end %>
        </div>
      </div>

      <div class="relative pb-[65%]">
        <% if @recipe.image.attached? %>
            <%= image_tag @recipe.image, class: "absolute w-full h-full object-cover" %>
          <% else %>
            <div class="absolute w-full h-full bg-gray-50/30 flex items-center justify-center">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="60px" height="60px" viewBox="0 0 48 48" id="a" xmlns="http://www.w3.org/2000/svg" ><defs><style>.b{fill:none;stroke:#9C9C9C;stroke-linecap:round;stroke-linejoin:round;}</style></defs><path class="b" d="M29.4995,12.3739c.7719-.0965,1.5437,.4824,1.5437,1.2543h0l2.5085,23.8312c.0965,.7719-.4824,1.5437-1.2543,1.5437l-23.7347,2.5085c-.7719,.0965-1.5437-.4824-1.5437-1.2543h0l-2.5085-23.7347c-.0965-.7719,.4824-1.5437,1.2543-1.5437l23.7347-2.605Z"/><path class="b" d="M12.9045,18.9347c-1.7367,.193-3.0874,1.7367-2.8945,3.5699,.193,1.7367,1.7367,3.0874,3.5699,2.8945,1.7367-.193,3.0874-1.7367,2.8945-3.5699s-1.8332-3.0874-3.5699-2.8945h0Zm8.7799,5.596l-4.6312,5.6925c-.193,.193-.4824,.2894-.6754,.0965h0l-1.0613-.8683c-.193-.193-.5789-.0965-.6754,.0965l-5.0171,6.1749c-.193,.193-.193,.5789,.0965,.6754-.0965,.0965,.0965,.0965,.193,.0965l19.9719-2.1226c.2894,0,.4824-.2894,.4824-.5789,0-.0965-.0965-.193-.0965-.2894l-7.8151-9.0694c-.2894-.0965-.5789-.0965-.7719,.0965h0Z"/><path class="b" d="M16.2814,13.8211l.6754-6.0784c.0965-.7719,.7719-1.3508,1.5437-1.2543l23.7347,2.5085c.7719,.0965,1.3508,.7719,1.2543,1.5437h0l-2.5085,23.7347c0,.6754-.7719,1.2543-1.5437,1.2543l-6.1749-.6754"/><path class="b" d="M32.7799,29.9337l5.3065,.5789c.2894,0,.4824-.193,.5789-.4824,0-.0965,0-.193-.0965-.2894l-5.789-10.5166c-.0965-.193-.4824-.2894-.6754-.193h0l-.3859,.3859"/></svg>
            </div>
          <% end %>
      </div>
      <div class="flex justify-start items-center gap-4 my-5">
        <div class="flex justify-start items-center gap-1 text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 text-primary-500 -mt-[2px]">
            <path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v2.5A2.25 2.25 0 0 0 4.25 9h2.5A2.25 2.25 0 0 0 9 6.75v-2.5A2.25 2.25 0 0 0 6.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 2 13.25v2.5A2.25 2.25 0 0 0 4.25 18h2.5A2.25 2.25 0 0 0 9 15.75v-2.5A2.25 2.25 0 0 0 6.75 11h-2.5Zm9-9A2.25 2.25 0 0 0 11 4.25v2.5A2.25 2.25 0 0 0 13.25 9h2.5A2.25 2.25 0 0 0 18 6.75v-2.5A2.25 2.25 0 0 0 15.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 11 13.25v2.5A2.25 2.25 0 0 0 13.25 18h2.5A2.25 2.25 0 0 0 18 15.75v-2.5A2.25 2.25 0 0 0 15.75 11h-2.5Z" clip-rule="evenodd" />
          </svg>
          <span>
            <%= @recipe.category.title.capitalize %>
          </span>
        </div>
        <div class="flex justify-start items-center gap-1 text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-3 h-3 text-primary-500 -mt-[2px]"><path d="M416 0C400 0 288 32 288 176V288c0 35.3 28.7 64 64 64h32V480c0 17.7 14.3 32 32 32s32-14.3 32-32V352 240 32c0-17.7-14.3-32-32-32zM64 16C64 7.8 57.9 1 49.7 .1S34.2 4.6 32.4 12.5L2.1 148.8C.7 155.1 0 161.5 0 167.9c0 45.9 35.1 83.6 80 87.7V480c0 17.7 14.3 32 32 32s32-14.3 32-32V255.6c44.9-4.1 80-41.8 80-87.7c0-6.4-.7-12.8-2.1-19.1L191.6 12.5c-1.8-8-9.3-13.3-17.4-12.4S160 7.8 160 16V150.2c0 5.4-4.4 9.8-9.8 9.8c-5.1 0-9.3-3.9-9.8-9L127.9 14.6C127.2 6.3 120.3 0 112 0s-15.2 6.3-15.9 14.6L83.7 151c-.5 5.1-4.7 9-9.8 9c-5.4 0-9.8-4.4-9.8-9.8V16zm48.3 152l-.3 0-.3 0 .3-.7 .3 .7z" fill="currentColor"/></svg>
          <span>
            <%= @recipe.portions %> servings
          </span>
        </div>
        <div class="flex justify-start items-center gap-1 text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-primary-500 -mt-[2px]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>

          <span>
            <%= @recipe.cooking_duration %> minutes
          </span>
        </div>
      </div>
      <div class="w-full h-[1px] border-b border-gray-50/50 mb-6"></div>
      <% if @recipe.tags.any?%>
        <div class="w-full flex items-center gap-3 mb-6">
          <% @recipe.tags.each do |tag| %>
          <div class="py-1.5 px-3 rounded bg-gray-50/20 text-gray-300 text-xs"><%= tag.title %></div>
          <% end %>

        </div>
        <div class="w-full h-[1px] border-b border-gray-50/50 mb-6"></div>
      <% end %>
      <div class="trix-content">
        <%= @recipe.description %>
      </div>
    </div>
    <div class="w-full lg:w-4/12">
        <%= render "recent_posts" %>
      </div>
  </div>
</div>