 <%= form_with model: user, url: settings_path, id: "settings_form", data:{turbo: false}, class: "w-full lg:mx-0 xl:mx-auto px-4 sm:px-0 space-y-4 md:space-y-6" do |f| %>
   
   <div class="w-full">
    <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-gray-50/50 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-50/70 focus:border-gray-50/50 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <%= f.submit "Update",
                 class: "w-full items-center justify-center text-white bg-primary-500 border border-primary-500 hover:bg-primary-600 hover:border-primary-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-md text-sm px-5 py-2.5  focus:outline-none cursor-pointer"
    %>
   <%= render "settings/errors", user: user %>
<% end %>