<div class="pt-[120px] px-4">
  <div class="container mx-auto p-4 lg:p-6 mt-6">
    <div class="w-full bg-white rounded-lg shadow border border-gray-50/50 dark:border md:mt-0 sm:max-w-md  mx-auto xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
              Log in
            </h2>          

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" })  do |f| %>
              
              <div class="field">
                <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-gray-50/50 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-50/70 focus:border-gray-50/50 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>

              <div class="field">
                <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>              
                <%= f.password_field :password, autocomplete: "current-password", class: "border border-gray-50/50 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-50/70 focus:border-gray-50/50 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>

               <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>

              <div class="actions">
                <%= f.submit "Sign up", class: "text-white block bg-primary-500 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-500 focus:outline-none dark:focus:ring-primary-800 w-full" %>
              </div>
            <% end %>
          </div>          
    </div>
  </div>
</div>




