<footer class="pt-10 w-full bg-gray-900">
  <div class="container mx-auto px-4 lg:px-6 h-auto overflow-hidden">
     <%= image_tag "logo-light.png", alt: "Trickly Logo", class: "max-w-[180px] h-auto mx-auto mb-20" %>
  </div>
  <div class="container mx-auto px-4 lg:px-6">
    <div class="flex justify-between flex-nowrap gap-8">
      <div class="w-[calc(25%-32px)]">
        <h5 class="text-white mb-4">About Us</h5>
        <p class="text-white">
          Sorem ipsum dolor amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </div>
      <div class="w-[calc(12.5%-32px)]"></div>      
      <div class="w-[calc(25%-32px)]">
        <h5 class="text-white mb-4">Quick Links</h5>
       <ul class="text-lg text-white/80 space-y-2">
        <li><a href="#">Latest News</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Our Products</a></li>
        <li><a href="#">Our Authors</a></li>
        <li><a href="#">Recipe Details</a></li>
       </ul>
      </div>
      <div class="w-[calc(12.5%-32px)]"></div>
      <div class="w-[calc(25%-32px)]">
        <h5 class="text-white mb-4">Recent Recipes</h5>
        <%= link_to recipe_path(@first_recipe.id) do %>
          <div class="flex gap-2 items-center mb-6">
            <div class="w-20 h-20 shrink-0 relative">
              <%= image_tag @first_recipe.image.variant(:thumb), class: "absolute w-full h-full object-cover transition-all duration-500 z-0" %>
            </div>
            <div>
              <div class="text-primary-500 font-bold"><%= @first_recipe.category.title %></div>
              <div class="text-white/80 text-lg font-bold"><%= @first_recipe.title %></div>
            </div>
          </div>
        <% end %>

        <%= link_to recipe_path(@last_recipe.id) do %>
          <div class="flex gap-2 items-center mb-6">
            <div class="w-20 h-20 shrink-0 relative">
              <%= image_tag @last_recipe.image.variant(:thumb), class: "absolute w-full h-full object-cover transition-all duration-500 z-0" %>
            </div>
            <div>
              <div class="text-primary-500 font-bold"><%= @last_recipe.category.title %></div>
              <div class="text-white/80 text-lg font-bold"><%= @last_recipe.title %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</footer>